/* Creates a white border around the page */
html{
    border-style: solid; 
    height: 95%; 
    width: 95%;
    margin: 30px;
    color: rgb(255, 255, 255);
    background-color: #f59e67;
}

h1 {text-align: center; }

/* images are rounded */
img{
    width: 200px;
    border-radius: 15px;
    transition: 50ms;
}

/* animation for hovering over images */
img:hover {
    width: 250px;
}

/* gap allows spacing between images */
.centering{
    justify-content: center;
    display: flex;
    gap: 200px;
}

/* Keeps the footer at the bottom */
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}