/* Creates a white border around the page */
html{
    border-style: solid; 
    height: 95%; 
    width: 95%;
    margin: 30px;
    color: rgb(255, 255, 255);
    background-color: #f59e67;
}

/* Allows Title to slide in on loading */
.Title {text-align: center; animation-name: fly-in;
    animation-duration: 2s;
}


/* images are rounded */
img{
    width: 200px;
    border-radius: 15px;
    transition: 50ms;
}

/* animation for hovering over images */
img:hover {
    width: 250px;
}

/* gap allows spacing between images */
.centering{
    justify-content: center;
    display: flex;
    gap: 200px;
    animation-name: fly-in; /* keyframe animation for flying in from top */
    animation-duration: 2s;
}

/* Animation for flying in using the y positions */
@keyframes fly-in {
    from { transform: translateY(-300%)}
    to { transform: translateY(0%)}
    
}

/* Keeps the footer at the bottom */
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}